<a href="https://colab.research.google.com/github/Komal2512/Bitcoin-Prediction/blob/main/bitcoin_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Description: This is a Bitcoin Price Prediction Using Machine Learning and Python.
# This Program predicts the price of Bitcoin for the next 30 Days.

In [1]:
# Created By Komal Goel

In [11]:
# Import the Libraries
import pandas as pd
import numpy as np

In [8]:
# Load the Data from dataset
from google.colab import files
uploaded = files.upload()

Saving bitcoin.csv to bitcoin (2).csv

In [12]:
# Store the data into a Variable
df = pd.read_csv('bitcoin (2).csv')

# Show the first 7 rows of dataset
df.head(7)

         Date        Open        High  ...       Close   Adj Close    Volume
0  2014-09-17  359.546204  361.468506  ...  355.957367  355.957367  16389165
1  2014-09-18  355.588409  355.505402  ...  328.539368  328.539368  26691849
2  2014-09-19  328.278503  330.936707  ...  307.761139  307.761139  29560102
3  2014-09-20  307.665253  329.978180  ...  318.758972  318.758972  28736825
4  2014-09-21  318.120514  321.504517  ...  310.632446  310.632446  20702624
5  2014-09-22  310.849762  316.469116  ...  312.958771  312.958771  18776342
6  2014-09-23  312.912079  343.704376  ...  339.189758  339.189758  35102350

[7 rows x 7 columns]

In [13]:
# Removing the 'Date' Column
# (I removed them as to make my data simpler and convinience to implement)
df.drop(['Date'],1,inplace =True)

In [14]:
# Removing the 'Open','High','Low' Column
df.drop(['Open'],1,inplace =True)
df.drop(['High'],1,inplace =True)
df.drop(['Low'],1,inplace =True)

In [15]:
# Removing the 'Adj Close' Column
df.drop(['Adj Close'],1,inplace =True)

In [16]:
# Showing the first 7 rows of dataset
df.head(7)

        Close    Volume
0  355.957367  16389165
1  328.539368  26691849
2  307.761139  29560102
3  318.758972  28736825
4  310.632446  20702624
5  312.958771  18776342
6  339.189758  35102350

In [17]:
# A Variable for predicting 'n' days out into the future
# Assuming n = prediction_days = 30 
prediction_days = 30

#Create another column shifted 'n' units up
df['Prediction'] = df[['Close']].shift(-prediction_days)

In [18]:
# Showing the first 7 rows of the new dataset
df.head(7)

        Close    Volume  Prediction
0  355.957367  16389165  300.821503
1  328.539368  26691849  306.844849
2  307.761139  29560102  305.622162
3  318.758972  28736825  299.214539
4  310.632446  20702624  304.023773
5  312.958771  18776342  303.107330
6  339.189758  35102350  283.355988

In [19]:
# Showing the last 7 rows of the new dataset
df.tail(7)

            Close       Volume  Prediction
1870  8245.560547  23826849281         NaN
1871  8292.355469  21780231050         NaN
1872  8349.874023  19021882025         NaN
1873  8270.445313  18924326413         NaN
1874  8458.521484  23517560012         NaN
1875  8436.573242  23658103729         NaN
1876  8456.394531  20898606220         NaN

In [20]:
# Create the independent dataset

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

# Remove the last 'n' rows where 'n' is the prediction_days 
X = X[:len(df)-prediction_days]

print(X)

[[3.55957367e+02 1.63891650e+07]
 [3.28539368e+02 2.66918490e+07]
 [3.07761139e+02 2.95601020e+07]
 ...
 [7.42463135e+03 1.11125789e+10]
 [7.27220947e+03 1.19812777e+10]
 [7.51501123e+03 1.64139714e+10]]

In [21]:
# Create the dependent data set

# Convert the dataframe to a numpy array
y = np.array(df['Prediction'])

# Get all of the values except the last 'n' rows
y = y[:-prediction_days]

print(y)

[ 300.821503  306.844849  305.622162 ... 8458.521484 8436.573242
 8456.394531]

In [22]:
# Splitting the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [23]:
# Set the prediction_days_array equal to the last 30 rows from yhe original data set
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]

print(prediction_days_array)

[[7.50835303e+03 1.42271613e+10]
 [7.82407471e+03 1.76446979e+10]
 [7.79822656e+03 1.60012500e+10]
 [7.53851318e+03 1.77592168e+10]
 [7.55450293e+03 1.31693345e+10]
 [7.54500537e+03 1.25205529e+10]
 [7.59537988e+03 1.37414755e+10]
 [7.43596826e+03 1.37932250e+10]
 [7.26673145e+03 1.45123276e+10]
 [7.28427344e+03 1.28654158e+10]
 [7.13811768e+03 1.40122918e+10]
 [7.15186279e+03 1.23526828e+10]
 [7.37044385e+03 1.38983348e+10]
 [7.39227686e+03 1.42297610e+10]
 [7.25902490e+03 1.50994145e+10]
 [6.75024951e+03 1.97107615e+10]
 [6.74862109e+03 1.46515667e+10]
 [7.81634277e+03 2.59065225e+10]
 [8.34345801e+03 4.01572477e+10]
 [8.61756641e+03 2.94055540e+10]
 [8.34004883e+03 2.78852446e+10]
 [8.48309961e+03 2.55786156e+10]
 [8.25366992e+03 2.48411221e+10]
 [8.24556055e+03 2.38268493e+10]
 [8.29235547e+03 2.17802310e+10]
 [8.34987402e+03 1.90218820e+10]
 [8.27044531e+03 1.89243264e+10]
 [8.45852148e+03 2.35175600e+10]
 [8.43657324e+03 2.36581037e+10]
 [8.45639453e+03 2.08986062e+10]]

In [24]:
# Import Support Vector Regression(SVR) from scikit-learn(sklearn)
from sklearn.svm import SVR
# Create and train the Support Vector Machine (SVM Regression) using radial basis function(rbf)
svr_rbf = SVR(kernel = 'rbf', C = 1e3, gamma = 0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [25]:
# Test the model
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ",svr_rbf_confidence)

svr_rbf accuracy:  -0.3285388051070488

In [26]:
# Print the predicted values
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

# Print the actual values
print(y_test)

[1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670298 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.03484378 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305  972.86506555
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1498.98815988 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305  525.85087904 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1305.53525831 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04583415 1080.3621446  1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04669488 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1485.42508159
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305]

[14571.832031   251.296326   207.427597  1928.954956  7028.269043
   312.67688   7630.927734  7047.166992  3673.458252  5593.523926
  9042.080078   608.264954   546.738342  8132.469727  6595.20166
   396.616608   205.879745  6875.008301  3949.773438  5782.600586
   259.200775   641.415283   210.079834  8247.941406  9054.121094
  9167.460938  9589.967773  5403.729004   859.130188  8245.560547
  3597.924072  5762.466309   274.922424  2212.710449   210.543259
  5451.084473   648.647339   300.401733  2235.834229  1111.123657
  5111.808594   221.157715   554.837891  6420.721191  7151.862793
   251.924515   602.966736   202.665375  6139.01416   5420.429688
  6657.345703  5460.403809  5456.281738  9271.415039  5592.873047
   693.117004  1203.394165   366.290771  2082.106201  4497.265137
   540.495789  4488.186523  5203.150879   204.698029   914.332703
   508.207306  1456.320679   394.401276  6538.252441   369.608307
   229.614639  9585.356445  2863.751221 11665.513672   414.70401
  8077.302734  7087.279297   630.987     3493.002441  3828.597656
  3197.257813   370.92627    252.247833   223.77475   8270.445313
  3368.355713   828.262085  9280.875977  7460.788086  8924.292969
   212.45578    419.381073  3854.704102  2646.77002    298.032898
  1102.099487   968.238586   232.012833  3036.359619   253.000748
  5600.47168    402.015411  7554.50293   7865.817871   210.175186
  3416.384521   302.538513  9378.670898   400.521759  9124.717773
   227.396652  5659.873047   507.405518  8682.964844   673.231384
   223.845642  9749.75293   7748.666992   237.03656    247.313187
  3445.985352   607.197021  5721.924805  3088.07666   6748.621094
   963.173462   214.423615   201.960419   604.067627   222.659821
  3311.741943   241.912186   589.98291    365.75531    359.087189
   298.45285   9472.157227   853.092712  7004.984375  9336.203125
  1649.260132  9092.541992  4746.688477   519.483459   211.888
   264.709808  6617.735352  3287.669189   237.897186  3382.942871
  3024.73291    207.50618   5764.513672  9600.941406   353.431549
 10096.293945  5681.992188   639.162231  7635.115723   233.155914
  7650.920898   588.081848  5682.285156  5644.216309  7068.740723
   377.947479  7545.005371  3914.934326  7782.442383   210.811859
  6784.344727   185.320847  6159.479004  1328.717651  6252.20459
   205.940552  3512.058594  2076.438477   515.305115   731.951111
  3205.250244  5791.400879  8510.954102   227.250977  8919.223633
  3202.042725   233.036133   231.137939  3040.053711   380.273376
  2910.091797   585.857239 11267.671875  3228.888916   390.213104
   217.746628  9239.483398   404.606812  5603.438965   269.342102
  3670.661621   225.275177   488.110748   343.026733   214.254715
   291.544159   230.380386  3575.342529   401.890961   649.819397
   254.840027 11221.008789   610.373047  3729.454834   204.050491
   368.081207  5690.88623   4864.482422  4899.657227   206.940491
   282.186157  1563.694458  8109.805176   181.774612   246.539688
  1024.327271  5072.282715  9849.555664  6987.593262  9364.710938
  3173.025391  9566.484375  3486.83667    213.655502   581.536499
   257.278046  8831.072266   375.353424   204.125992   631.151245
  9338.717773   546.205933   295.311066  3272.990234   575.440674
 10516.327148  9098.84668   5678.756836   313.787018  9979.533203
  2360.486328   948.707581  5586.458496  9416.116211  4866.13623
   284.888611  8452.749023  6477.626465  3124.268555   368.791901
  5231.516113  3530.072021   376.313354  3265.974121  5592.500488
   253.903198 10281.453125 16299.753906  7049.026367  4700.323242
   370.207306  6350.986328  3429.697021  5611.994629  9659.918945
   218.386642   303.521301  5503.882324   929.379578  3695.389893
  3289.634033  6358.188965   233.992599  5562.578125  1860.701538
   714.010071   994.545715   555.649902   274.089172   229.935501
   304.018494   963.014282   192.684753  1061.493042   203.059128
  1774.107422   228.503372  9475.269531   272.494629   579.893311
  2172.174072  3698.505859  7541.81543    240.143463  4500.679199
  3544.214355   202.840958  2375.517822  7057.222656   650.650208
  3650.523682   364.022186   373.563538  5651.393555  5606.809082
  5571.442383   348.289032  6786.318359  5688.615723   382.577332
  9246.486328   517.730469  8746.569336  3024.589355   306.75946
  6073.234375   592.649475   543.933777  8292.355469   293.900421
   381.712769  3861.659912   206.489731  3824.62793   2408.293213
  3534.563477  5481.957031   207.231888  3566.071533  5628.76416
  3206.829834  3558.986572   921.174316  3494.711914  8232.200195
   214.645828  6536.92041    601.380737  1644.547729   599.638611
  3674.391846   306.844849  8610.65332   2507.928955   263.024017
  5674.475098  7142.94043    218.703293  3524.441162  9086.756836
  3148.845947  4722.169434   205.564499  6958.033203  5685.60791
   358.107391   898.521301   273.197571  1212.820923  2444.355713]

In [27]:
# Print the model predictions for the next 'n = 30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305
 1499.04670305 1499.04670305 1499.04670305 1499.04670305 1499.04670305]

In [28]:
print()

#Print the actual price for bitcoin for the last 30 days
print(df.tail(prediction_days))

            Close       Volume  Prediction
1847  7508.353027  14227161316         NaN
1848  7824.074707  17644697905         NaN
1849  7798.226563  16001250003         NaN
1850  7538.513184  17759216751         NaN
1851  7554.502930  13169334495         NaN
1852  7545.005371  12520552917         NaN
1853  7595.379883  13741475461         NaN
1854  7435.968262  13793224979         NaN
1855  7266.731445  14512327589         NaN
1856  7284.273438  12865415827         NaN
1857  7138.117676  14012291755         NaN
1858  7151.862793  12352682776         NaN
1859  7370.443848  13898334789         NaN
1860  7392.276855  14229761007         NaN
1861  7259.024902  15099414521         NaN
1862  6750.249512  19710761538         NaN
1863  6748.621094  14651566651         NaN
1864  7816.342773  25906522538         NaN
1865  8343.458008  40157247739         NaN
1866  8617.566406  29405554028         NaN
1867  8340.048828  27885244605         NaN
1868  8483.099609  25578615575         NaN
1869  8253.669922  24841122081         NaN
1870  8245.560547  23826849281         NaN
1871  8292.355469  21780231050         NaN
1872  8349.874023  19021882025         NaN
1873  8270.445313  18924326413         NaN
1874  8458.521484  23517560012         NaN
1875  8436.573242  23658103729         NaN
1876  8456.394531  20898606220         NaN